.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsla(50, 100%, 80%, 0.9); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Colore del testo principale */
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Colore del testo del label */
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; /* Dimensione uniforme del font */
  line-height: 1.5; /* Altezza della linea uniforme */
  margin-bottom: 15px; /* Spaziatura inferiore */
}

.input:focus {
  border-color: #007bff; /* Colore del bordo al focus */
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Colore di sfondo del pulsante */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* Colore di sfondo del pulsante al passaggio del mouse */
}

/* Stili aggiunti per il collegamento alla pagina di login */
.loginPrompt {
  text-align: center;
  margin-top: 15px;
  color: #555; /* Colore del testo del prompt di login */
  font-size: 14px; /* Dimensione del font del prompt di login */
}

.loginLink {
  color: #007bff; /* Colore del link di login */
  text-decoration: none;
  font-weight: bold; /* Grassetto per il link di login */
}

.loginLink:hover {
  color: #0056b3; /* Colore del link di login al passaggio del mouse */
  text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}
